div.instrument {
  border: 1px solid #222;
  height: 100%;
}

/* two pieces of an instrument track */
.instrumentControl {
  width: 19%;
  height: 100%;
  float: left;
}
.Soundboard {
  width: 81%;
  height: 100%;
  float: left;
  background-color: white;
}

div.instrument.active .instrumentControl {
  background-color: #222;
  color: #FFF;
}
div.instrument.inactive .instrumentControl {
  background-color: white;
  color: #FFF;
}

/* soundboard */
.instrument .Soundboard .row {
  height: 100%;
}

.instrument .Soundboard .row .beatDivision {
  float: left;
  border: 1px solid #222;
}
.instrument .Soundboard .row .beatDivision.active {
  background-color: #222;
  color: white;
}
.instrument .Soundboard .row .beatDivision.inactive {
  background-color: #FFF;
  color: black;
}

.instrument .Soundboard .row .bar {
  height: 86%;
  width: 24.55%;
  border: 2px solid #222;
  float: left;
}

.instrument.n0 .Soundboard .row .bar {
  height: 73%;
}

.instrument.n1 .Soundboard .row .bar {
  height: 76%;
}
