div.instrument {
  border: 1px solid #0080FF;
  height: 100%;
}

/* two pieces of an instrument track */
.instrumentControl {
  width: 20%;
  height: 100%;
  float: left;
}
.Soundboard {
  width: 80%;
  height: 100%;
  float: left;
  background-color: white;
}

div.instrument.active .instrumentControl {
  background-color: #222;
  color: white;
}
div.instrument.inactive .instrumentControl {
  background-color: white;
  color: #0080FF;
}

/* soundboard */
.instrument .Soundboard .row {
  height: 100%;
}

.instrument .Soundboard .row .beatDivision {
  float: left;
  border: 1px solid gray;
}
.instrument .Soundboard .row .beatDivision.active {
  background-color: #0080FF;
  color: white;
}
.instrument .Soundboard .row .beatDivision.inactive {
  background-color: #FFF;
  color: black;
}

.instrument .Soundboard .row .bar {
  height: 100%;
  width: 24.55%;
  border: 2px solid black;
  float: left;
}
